body {
  position: relative;
  background-color: #282c34;
  color: white;
  font-family: 'Bank Gothic', Courier, monospace;
  margin: 0;
  height: 130vh;
}


footer {
  background-color: rgb(87, 103, 224);
  text-align: center;
  padding: 20px;
  position: relative; /* nebo úplně vynech position */
  color: white;
}

title{
    right: 100%;
    position: absolute;
    bottom: 0;
    text-align: right ;
}

@media (width <= 650px ) {
    h4{
        position: absolute;
        bottom: 50%;
        left: 80%;
        font-size: small;
        color: azure;
    }
    body{
        background-color: rgb(15, 108, 183);
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    img{
        height: 10%
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent mouse events on the canvas */
}