body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #282c34; /* Dark background */
    color: white; /* White text color */
    font-family: 'Bank Gothic', Courier, monospace; /* Monospace font for typing effect */
    margin: 0; /* Remove default margin */
}

.container { /* Hides the text that is not yet visible */
    border-right: 0.15em solid orange; /* Cursor effect */
    white-space: nowrap; /* Prevents text from wrapping */
    animation: caret 0.75s step-end infinite; /* Blinking cursor */
}

.typing-animation {
    display: inline-block; /* Allows for animation */
    width: 0; /* Start with no width */
    overflow: hidden; /* Hides the text that is not yet visible */
    animation: typing 4s steps(30, end) forwards; /* Typing effect */
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0; /* Start with no width */
    }
    to {
        width: 100%; /* End with full width */
    }
}

/* Blinking cursor effect */
@keyframes caret {
    from, to {
        border-color: transparent; /* Invisible cursor */
    }
    50% {
        border-color: rgb(0, 81, 255); /* Visible cursor */
    }

}

footer{
    color: white;
    padding-bottom: 0%;
    background-color: rgb(87, 103, 224);
    text-align: center;
    width: 100%;
    position: absolute;
    min-height: 5vh;
    top: 200%;
  } 

title{
    right: 100%;
    position: absolute;
    bottom: 0;
    text-align: right ;
}

@media (width <= 650px ) {
    h4{
        position: absolute;
        bottom: 50%;
        left: 80%;
        font-size: small;
        color: azure;
    }
    body{
        background-color: rgb(15, 108, 183);
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    img{
        height: 10%
    }
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Prevent mouse events on the canvas */
}

