html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center; /* horizontálně na střed */
    align-items: flex-start; /* vertikálně nahoře */
    min-height: 100vh;
    background: #282c34;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 50px;    /* odsazení shora */
    padding-right: 20px;  /* odsazení zprava */
    box-sizing: border-box;
    font-family: 'Bank Gothic', Courier, monospace;
  }
  
  #game-container {
    max-width: 450px;
    width: 100%;
    text-align: center;
  }
