body{
    background-color: rgb(64, 61, 61);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;
    background-color: rgb(106, 110, 135);
}
footer{
    color: white;
    padding-bottom: 0.1%;
    background-color: rgb(87, 103, 224);
    text-align: center;
    width: 100%;
    position: relative;
    min-height: 10vh;
  }  

title{
    right: 100%;
    position: absolute;
    bottom: 0;
    text-align: right ;
}
img{
    position: absolute;
    left: 1%;
    bottom: 58%;
    right: 1%;
    height: 40% ;
    border-radius: 8px;
}
h2{
    position: absolute;
    right: 15%;
    height: 30%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
h4{
    position: absolute;
    bottom: 90%;
    left: 75%;
    width: 45%;
    text-shadow: 2px 2px 4px #000000;
}
@media (width <= 650px ) {
    h4{
        position: absolute;
        bottom: 50%;
        left: 80%;
        font-size: small;
        color: azure;
    }
    body{
        background-color: rgb(15, 108, 183);
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
    img{
        height: 10%
    }

}
html {
    scroll-behavior: smooth;

}
html, body {
    height: 175%;
}
  
text{
    top: 120%
}
h1{
    font-size: large;
    color: cadetblue;
}

.horizontal-scroll {
    height: 100vh;
    background-color: #ccc;
    overflow: hidden;
}

.horizontal-content {
    display: flex;
    gap: 20px;
}

.box{
    width: 50%;
}