body{
    background-color: darkslateblue;
    height: 200vh;
}

footer{
    color: white;
    padding-bottom: 0.1%;
    background-color: rgb(87, 103, 224);
    text-align: center;
    width: 100%;
    position: relative;
    min-height: 10vh;
  }  